$width:200px;
$height: 300px;
.chat-box-container{
    border:1px solid red;
    width: $width;
    height: $height;
    position: absolute;
    z-index: 1000;
    top: calc(100% - #{$height} - 10px);
    left: calc(100% - #{$width} - 10px);
}

.chat-box-content{
    overflow-y: scroll;
    overflow-x:hidden;
    height: calc(#{$height} - 10px);
}
    
.visible-chat{
    background-color: rgba(255, 255, 255, 0.93);
    border: 1px solid black;
}